# pandas

In [34]:
import pandas as pd
import numpy as np

In [35]:
array=[1,2,3,4,5,6,7,8]
series=pd.Series(array)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [36]:
custom_series=pd.Series(array,index=['a','b','c','d',5,6,7,8])
print(custom_series)

a    1
b    2
c    3
d    4
5    5
6    6
7    7
8    8
dtype: int64

In [37]:
data={
    'name':['arnav','adil','advait','ram','sham'],
    'department':['CSE','CSE','mech','mech','mech'],
    'marks':[75,95,85,32,34],
    'passed':[True,True,True,False,False],    
     }
data_frame=pd.DataFrame(data)
print(data_frame)

     name department  marks  passed
0   arnav        CSE     75    True
1    adil        CSE     95    True
2  advait       mech     85    True
3     ram       mech     32   False
4    sham       mech     34   False

## filtering the data

In [38]:
high_score=data_frame[data_frame['marks'] > 80]
print (high_score)

     name department  marks  passed
1    adil        CSE     95    True
2  advait       mech     85    True

In [39]:
passed_students=data_frame[data_frame['passed']==True]
print (passed_students)

     name department  marks  passed
0   arnav        CSE     75    True
1    adil        CSE     95    True
2  advait       mech     85    True

In [40]:
mech_students=data_frame[data_frame['department']=="mech"]
print(mech_students)

     name department  marks  passed
2  advait       mech     85    True
3     ram       mech     32   False
4    sham       mech     34   False

## grouping

In [41]:
avg_marks=data_frame.groupby("department")["marks"].mean()
print(avg_marks)

department
CSE     85.000000
mech    50.333333
Name: marks, dtype: float64

In [42]:
no_of_student=data_frame.groupby("department")["name"].count()
print(no_of_student)

department
CSE     2
mech    3
Name: name, dtype: int64

In [43]:
passed_studs=data_frame.groupby("department")["passed"].sum()
print(passed_studs)

department
CSE     2
mech    1
Name: passed, dtype: int64

## add new columns based on conditions

In [44]:
data_frame["grades"]=["A" if mark>=80 else "B" for mark in data_frame['marks']]
print(data_frame)

     name department  marks  passed grades
0   arnav        CSE     75    True      B
1    adil        CSE     95    True      A
2  advait       mech     85    True      A
3     ram       mech     32   False      B
4    sham       mech     34   False      B

In [45]:
data_frame.to_csv('student_data.csv', index = False)

In [46]:
loaded_lap=pd.read_csv("laptop_data.csv")
print(loaded_lap)

     Brand Processor  RAM (GB)  Price (INR)
0     Acer   Ryzen 5        32        66302
1    Apple   Ryzen 7         4       120239
2       HP        i9         4        76728
3    Apple   Ryzen 7         8        56251
4     Asus        i5        16        39692
..     ...       ...       ...          ...
95    Acer        i9        16       143835
96  Lenovo        i7         4        50528
97     MSI   Ryzen 5         8       127506
98   Apple        i9         8        34770
99    Asus   Ryzen 5        16        79763

[100 rows x 4 columns]

In [47]:
loaded_lap.head(10)

   Brand Processor  RAM (GB)  Price (INR)
0   Acer   Ryzen 5        32        66302
1  Apple   Ryzen 7         4       120239
2     HP        i9         4        76728
3  Apple   Ryzen 7         8        56251
4   Asus        i5        16        39692
5   Dell        i5        32       102292
6    MSI   Ryzen 3         4       124243
7   Asus        i7        32        78998
8  Apple   Ryzen 7         4       125812
9   Asus        i9         4       108517

In [48]:
loaded_lap.tail(10)

     Brand Processor  RAM (GB)  Price (INR)
90     MSI   Ryzen 5         8        62229
91    Acer   Ryzen 5        32        42321
92     MSI        i3         4       120632
93    Acer        i5        32       106092
94  Lenovo   Ryzen 3         4       147457
95    Acer        i9        16       143835
96  Lenovo        i7         4        50528
97     MSI   Ryzen 5         8       127506
98   Apple        i9         8        34770
99    Asus   Ryzen 5        16        79763

In [49]:
loaded_lap.sort_values(by="Price (INR)",inplace=True)
print(loaded_lap)

     Brand Processor  RAM (GB)  Price (INR)
11     MSI        i9        16        30956
48     MSI        i5        16        31877
54     MSI        i3        16        33286
47    Acer   Ryzen 5         8        34432
98   Apple        i9         8        34770
..     ...       ...       ...          ...
62   Apple   Ryzen 5        32       146557
94  Lenovo   Ryzen 3         4       147457
10    Acer        i3         8       148776
28  Lenovo        i3         4       149688
16     MSI        i7        32       149938

[100 rows x 4 columns]

In [50]:
loaded_lap.drop("Processor",axis=1)

     Brand  RAM (GB)  Price (INR)
11     MSI        16        30956
48     MSI        16        31877
54     MSI        16        33286
47    Acer         8        34432
98   Apple         8        34770
..     ...       ...          ...
62   Apple        32       146557
94  Lenovo         4       147457
10    Acer         8       148776
28  Lenovo         4       149688
16     MSI        32       149938

[100 rows x 3 columns]

In [51]:
marks=[67,5,8,78,93,78,24,61,98,86,53,76,93,85,75]
mean=np.mean(marks)
print(mean)

65.33333333333333

In [52]:
median=np.median(marks)
print(median)

76.0

In [53]:
std=np.std(marks)
print(std)

29.15399724832867

In [54]:
var=np.var(marks)
print(var)

849.9555555555556

In [55]:
root=var **0.5
print(root)

29.15399724832867

## home work

In [56]:
name= "arnav"
print(name)
type(name)

arnav

str

In [57]:
a=10
b=5.5
print(a+b)

15.5

In [58]:
type(a)
type(b)

float

In [59]:
status=True
print(status)

True

In [60]:
list=["apple","orange",'banana','guava','kiwi']
print(list)

['apple', 'orange', 'banana', 'guava', 'kiwi']

In [61]:
print(list[1],list[3])

orange guava

In [62]:
list.append('grapes')
print(list)

['apple', 'orange', 'banana', 'guava', 'kiwi', 'grapes']

In [63]:
list.insert(1,'banana')
print(list)

['apple', 'banana', 'orange', 'banana', 'guava', 'kiwi', 'grapes']

In [65]:
list.remove('banana')
print(list)

['apple', 'orange', 'banana', 'guava', 'kiwi', 'grapes']

In [67]:
print(list.pop())

grapes

In [68]:
print(list.index('apple'))

0

In [69]:
list.count('mango')

0

In [70]:
list.sort()
print(list)

['apple', 'banana', 'guava', 'kiwi', 'orange']

In [73]:
list.reverse()
print(list)

['orange', 'kiwi', 'guava', 'banana', 'apple']

In [74]:
tuple=('solapur','mumbai','pune','delhi')
print(tuple[2])

pune

In [78]:
tuple.index('mumbai')

1

In [79]:
tuple.count('pune')

1

In [80]:
len(tuple)

4

In [81]:
set={'blue','black','white','red'}

In [83]:
set.add('black')
print(set)

{'black', 'blue', 'white', 'red'}

In [84]:
set.remove('red')
print(set)

{'black', 'blue', 'white'}

In [85]:
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [87]:
set1.intersection(set2)

{3}

In [93]:
set2.difference(set1)

{4, 5}

In [94]:
len(set)

3

In [95]:
sub_marks={'maths':67,'science':86,'history':45}

In [98]:
print(sub_marks.get('science'))

86

In [100]:
print(sub_marks.keys())

dict_keys(['maths', 'science', 'history'])

In [101]:
print(sub_marks.values())

dict_values([67, 86, 45])

In [102]:
print(sub_marks)

{'maths': 67, 'science': 86, 'history': 45}

In [103]:
sub_marks.items()

dict_items([('maths', 67), ('science', 86), ('history', 45)])

In [109]:
sub_marks.get('history')

45

In [107]:
sub_marks.get('maths')

67

In [112]:
sub_marks.update({'science':95})
print(sub_marks)

{'maths': 67, 'science': 95, 'history': 45}

In [113]:
sub_marks.update({'history':88})
print(sub_marks)

{'maths': 67, 'science': 95, 'history': 88}

In [ ]:
array1d=np.array